################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp
/Directory.Build.props
/PICO_REPO/Pico_WebServer
/TestOpenGl
/TestOpenGl.Desktop
/TestString
/TestWebSocket
/web_servcer.py
/VulcanRenderTestApp
/GuitarSpecHelper/GuitarSpecHelper
/GcodeRenderTest
/.vs
